<mat-card>
    <mat-card-header>
        <mat-card-title style="color: green;">TRIP LIST</mat-card-title>
    </mat-card-header>

    <div class="control-section">
        <div *ngIf="combinedArray.length != 0">
            <ejs-grid #grid id="AdvancedExport" [dataSource]="combinedArray" [toolbar]="toolbar"
                (toolbarClick)="toolbarClick($event)" [pageSettings]="pageSettings" [allowPaging]="true"
                [allowPdfExport]="true">
                <e-columns>
                    <e-column field='productId' headerText='PRODUCT ID' width='150'></e-column>
                    <e-column field='ProductName' headerText='PRODUCT NAME' width='150'></e-column>
                    <e-column field='count' headerText='COUNT' width='150'></e-column>
                    <e-column *ngIf="pdfprint" headerText='MANAGE' width='150'>
                        <ng-template #template let-data>
                            <button mat-raised-button style="background-color: green; margin-left: 8px;"
                                class="main-button" (click)="viewDetails(data.productId)" type="button">View</button>
                        </ng-template>
                    </e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>
</mat-card>
  