<mat-card class="background">
    <div class="row">
      <div class="col">
        <mat-card-header>
          <mat-card-title> STOCK </mat-card-title>
        </mat-card-header>
      </div>
      
      <div class="col">
        <mat-card-header>
          <!-- <button mat-mini-fab color="primary" type="button" style="margin-left: auto;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" (click)="viewPurchaseEntry()">
            <mat-icon>visibility</mat-icon>
          </button> -->
          <button mat-mini-fab color="primary" type="button" style="margin-left: auto;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" onclick="history.back()">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-card-header>
      </div>
    </div>

    <mat-card-content >
        <div class="container">

          <table class="styled-table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>ProductName</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>MRP</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of stock">
                    <td>{{item.type == false? "Sales" : "Purchases"}}</td>
                    <td>{{item.product.productName}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.rate}}</td>
                    <td>{{item.mrp}}</td>
                    <td>
                      <span class="material-icons" style=" margin-left: 8px;" (click)="viewDetails(item.id)">open_in_new</span>
                    </td>
                </tr>
            </tbody>
          </table>
            
        </div>
    </mat-card-content>
</mat-card>