.full-width{
    width: 100%;
  }
  
  button:enabled {
    background-color :rgb(56, 151, 86); 
    color : white
  }
  
  // .mat-form-field input {
  //   height: 20px;
  //   transition: height ease-in-out 400ms;
  // }
  
  // .mat-form-field input:focus {
  //   background-color: rgb(147, 171, 152) !important;
  //   height: 50px;
  //   transition: height ease-in-out 400ms;
  // }
  
  :host ::ng-deep .p-inputtext {
      color: green;
      border: 2px solid green;
      border-radius: 10px;
  }
  
  :host ::ng-deep .p-inputtext:focus:enabled,
  :host ::ng-deep .p-inputtext:hover
  {
      box-shadow: none;
      border: 2px solid green;
  }
  
  table{
      width: 100%;
  }
  
  
  span {
      cursor: pointer;
   }
   
   span:hover {
    background-position: right center;
    //background-color: #3e8e41/* change the direction of the change here */
  }
  
  span:active {
    //background-color: #3e8e41;
    box-shadow: 0 5px white;
    transform: translateY(5px);
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .col:last-child {
    margin-right: 0;
  }
  
  @media (max-width:700px)
  {
      .box{
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      mat-form-field {
        width: 100%;
      }
  }
  
  