<mat-card class="container">
    <div class="row">
      <div class="col">
        <mat-card-header>
          <mat-card-title> PURCHASE ENTRY </mat-card-title>
        </mat-card-header>
      </div>
      
      <div class="col">
        <mat-card-header>
          <button mat-mini-fab color="primary" type="button" style="margin-left: auto;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" onclick="history.back()">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-card-header>
      </div>
    </div>

    <table class="styled-table">
      <thead>
          <tr>
              <th>id</th>
              <th>purachse Date</th>
              <th>purchase Invoice</th>
              <th>e Way Bill No</th>
              <th>vendor Name</th>
              <th>purchase Amount</th>
              <th>view</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let element of pEntry">
              <td>{{element.id}}</td>
              <td>{{element.purachseDate}}</td>
              <td>{{element.purchaseInvoice}}</td>
              <td>{{element.eWayBillNo}}</td>
              <td>{{element.vendor.vendorName}}</td>
              <td> {{element.purchaseAmount}}</td>
              <td>
                <span class="material-icons" style=" margin-left: 8px;" (click)="viewPurchaseListDetails(element.id)">open_in_new</span>
              </td>
              
          </tr>
      </tbody>
    </table>
      <div>
        <span class="material-icons" style="font-size: 40px; color: green;"
          (click)="addPurchaseEntry()">playlist_add</span>
      </div>
    </mat-card>