<!-- <mat-toolbar style="background-color: rgb(33,142,67); color: white; height: 40px;">
  ADD PRODUCT
</mat-toolbar> -->

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <mat-card class="background">
  
      <div class="row">
        <div class="col">
          <mat-card-header>
            <mat-card-title> PRODUCT </mat-card-title>
          </mat-card-header>
        </div>
        <div class="col">
          <mat-card-header>
            <button mat-mini-fab color="primary" type="button" style="margin-left: auto;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" (click)="homeClick()">
              <mat-icon>home</mat-icon>
            </button>
            &nbsp;<button mat-mini-fab color="primary" type="button" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" onClick="history.back()">
              <span class="material-icons" style="color: white;">exit_to_app</span>
            </button>
          </mat-card-header>
        </div>
      </div>
  
      <mat-card-content >
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Product Name" formControlName="productName">
              <mat-error *ngIf="productForm.controls['productName'].hasError('required')">
                Name <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Primary Unit" formControlName="primaryUnitId">
                <span *ngIf="units.length != 0" class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addUnit()">playlist_add</span>
                <mat-option *ngFor="let item of units" [value]="item.id">
                  {{item.primaryUnitName}}
                </mat-option>
                <mat-option *ngIf="units.length === 0" [value]="'add'">
                  <span class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addUnit()">playlist_add</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="productForm.controls['primaryUnitId'].hasError('required')">
                Unit <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Code" formControlName="code">
            </mat-form-field>
          </div>
  
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Barcode" formControlName="barCode">
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col">

            <mat-form-field class="full-width">
              <mat-select placeholder="Category" formControlName="categoryId">
                <span *ngIf="categories.length != 0" class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addCatrgory()">playlist_add</span>
                <mat-option *ngFor="let item of categories" [value]="item.id">
                  {{item.categoryName}}
                </mat-option>
                <mat-option *ngIf="categories.length === 0" [value]="'add'">
                  <span class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addCatrgory()">playlist_add</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="productForm.controls['categoryId'].hasError('required')">
                Category<strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="col">
            <mat-form-field class="full-width" *ngIf="brands">
              <mat-select placeholder="Brand" formControlName="brandId">
                <span *ngIf="brands.length != 0" class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addBrand()">playlist_add</span>
                <mat-option *ngFor="let item of brands" [value]="item.id">
                  {{item.brandName}}
                </mat-option>
                <mat-option *ngIf="brands.length === 0" [value]="'add'">
                  <span class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addBrand()">playlist_add</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="productForm.controls['brandId'].hasError('required')">
                Brand<strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Loyalty Point" formControlName="loyaltyPoint">
            </mat-form-field>
          </div>
  
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="reorderQuantity" formControlName="reorderQuantity">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
  
      <mat-card-actions>
        <button *ngIf="isEdit == false" mat-raised-button  type="submit" [disabled]="!productForm.valid">
          <span class="material-icons" style="font-size: 25px;">save</span>
        </button>&nbsp;&nbsp;
        <button *ngIf="isEdit == true" mat-raised-button  type="button" [disabled]="!productForm.valid" (click)="editFunction()">
          <span class="material-icons" style="font-size: 30px;">edit_note</span>
        </button>&nbsp;&nbsp;
      </mat-card-actions>
    </mat-card><br>
  </form>
  <!-- ----------------------------------------------------------------------------------------------------------------------------------------------- -->
  <br><mat-card>
    <mat-card-header>
      <mat-card-title style="color: green;"> PRODUCTS</mat-card-title>
    </mat-card-header>
    
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <table class="styled-table">
      <thead>
          <tr>
              <th>id</th>
              <th>Product Name</th>
              <th>Code</th>
              <th>Barcode</th>
              <th>Primary Unit</th>
              <th>Category</th>
              <th>Brand</th>
              <th>Manage</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let element of filtered">
              <td>{{element.id}}</td>
              <td>{{element.productName}}</td>
              <td>{{element.code}}</td>
              <td>{{element.barCode}}</td>
              <td>{{element.primaryUnit.primaryUnitName}}</td>
              <td>{{element.category.categoryName}}</td>
              <td>{{element.brand.brandName}}</td>
              <td>
                <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
                <i  (click)="editProduct(element.id)"  class="fa fa-edit" style="font-size: 20px; color:green"></i>
                &nbsp;&nbsp;
                <i  (click)="deleteProduct(element.id)" class="fa fa-trash" style="font-size: 20px; color:red"></i>
                </td> 
          </tr>
      </tbody>
    </table>
    <mat-paginator [length]="products.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
  </mat-card>