<mat-card>
  <form [formGroup]="routeForm" (ngSubmit)="onSubmit()">
      <mat-card class="background">
        <div class="row">
          <div class="col">
            <mat-card-header>
              <mat-card-title>ROUTE</mat-card-title>
            </mat-card-header>
          </div>
          <div class="col">
            <mat-card-header>
              <button mat-mini-fab color="primary" type="button" style="margin-left: auto;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" (click)="homeClick()">
                <mat-icon>home</mat-icon>
              </button>
              &nbsp;<button mat-mini-fab color="primary" type="button" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" onClick="history.back()">
                <span class="material-icons" style="color: white;">exit_to_app</span>
              </button>
            </mat-card-header>
          </div>
        </div>
        <mat-card-content >
    
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Route Name" formControlName="routeName">
                <mat-error *ngIf="routeForm.controls['routeName'].hasError('required')">
                  Name <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Branch" formControlName="branchId" #id (selectionChange)="byBranch(id.value)">
                  <span *ngIf="branches.length != 0" class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addBranch()">playlist_add</span>
                  <mat-option *ngFor="let item of branches" [value]="item.id">
                    {{item.branchName}}
                  </mat-option>
                  <mat-option *ngIf="branches.length === 0" [value]="'add'">
                    <span class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addBranch()">playlist_add</span>
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="routeForm.controls['branchId'].hasError('required')">
                  field <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Vehicle" formControlName="vehicleId">
                  <span *ngIf="vehicles.length != 0" class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addVehicle()">playlist_add</span>
                  <mat-option *ngFor="let item of vehicles" [value]="item.id">
                    {{item.registrationNumber}}
                  </mat-option>
                  <mat-option *ngIf="vehicles.length === 0" [value]="'add'">
                    <span class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addVehicle()">playlist_add</span>
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="routeForm.controls['vehicleId'].hasError('required')">
                  field <strong>required</strong>
                </mat-error>
              </mat-form-field>
          </div>
        </div>
    
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Vehicle Driver" formControlName="driverId">
                <span *ngIf="driver.length != 0" class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addUser()">playlist_add</span>
                <mat-option *ngFor="let item of driver" [value]="item.id">
                  {{item.name}}
                </mat-option>
                <mat-option *ngIf="driver.length === 0" [value]="'add'">
                  <span class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addUser()">playlist_add</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="routeForm.controls['driverId'].hasError('required')">
                field <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Sales Man" formControlName="salesManId">
                <span *ngIf="salesMan.length != 0" class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addUser()">playlist_add</span>
                <mat-option *ngFor="let item of salesMan" [value]="item.id">
                  {{item.name}}
                </mat-option>
                <mat-option *ngIf="salesMan.length === 0" [value]="'add'">
                  <span class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addUser()">playlist_add</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="routeForm.controls['salesManId'].hasError('required')">
                field <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Sales Executive" formControlName="salesExecutiveId">
                <span *ngIf="salesExecutive.length != 0" class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addUser()">playlist_add</span>
                <mat-option *ngFor="let item of salesExecutive" [value]="item.id">
                  {{item.name}}
                </mat-option>
                <mat-option *ngIf="salesExecutive.length === 0" [value]="'add'">
                  <span class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addUser()">playlist_add</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="routeForm.controls['salesExecutiveId'].hasError('required')">
                field <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>   
        </mat-card-content>

          
  <br><mat-grid-list cols="3" rowHeight="4:1">
    <mat-grid-tile>
      <button mat-raised-button aria-label="Example icon button with a bookmark icon" (click)="addCollectionDays()">
        Collection Days
      </button>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <button mat-raised-button aria-label="Example icon button with a bookmark icon" (click)="addDeliveryDays()">
        Delivery Days
      </button>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <button mat-raised-button aria-label="Example icon button with a bookmark icon" (click)="addDetails()">
        Route Details
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  
        <mat-card-actions>
          <button *ngIf="!isEdit" mat-raised-button type="button" class="btn btn-success" (click)="onSubmit()" [disabled]="!routeForm.valid || routeForm.pristine">
            <span class="material-icons" style="font-size: 25px;">save</span>
          </button>&nbsp;&nbsp;
          <button *ngIf="isEdit" mat-raised-button  type="button" [disabled]="!routeForm.valid" (click)="editFunction()">
            <span class="material-icons" style="font-size: 30px;">edit_note</span>
          </button>&nbsp;&nbsp;  
        </mat-card-actions>
  
      </mat-card>
    </form>
  
  
  </mat-card>
  
  <br><mat-card *ngIf="addStatus != 'true'">
    <mat-card-header>
      <mat-card-title style="color: green;"> ROUTE</mat-card-title>
    </mat-card-header>
  
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <table class="styled-table">
      <thead>
          <tr>
              <th>id</th>
              <th>Route Name</th>
              <th>Vehicle</th>
              <th>Driver</th>
              <th>Sales Man</th>
              <th>Sales Executive</th>
              <th>Branch</th>
              <th>Manage</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let element of filtered">
              <td>{{element.id}}</td>
              <td>{{element.routeName}}</td>
              <td>{{element.vehicle.registrationNumber}}</td>
              <td>{{element.driver.name}}</td>
              <td>{{element.salesman.name}}</td>
              <td>{{element.salesexecutive.name}}</td>
              <td>{{element.branch.branchName}}</td>
              <td>
                <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
                <i  (click)="editRoute(element.id)"  class="fa fa-edit" style="font-size: 20px; color:green"></i>
                &nbsp;&nbsp;
                <i  (click)="deleteRoute(element.id)" class="fa fa-trash" style="font-size: 20px; color:red"></i>
                </td> 
          </tr>
      </tbody>
    </table>
  
  </mat-card>
  
  <!-- <br><mat-card>
    <mat-card-header>
      <mat-card-title style="color: green;">ROUTES</mat-card-title>
    </mat-card-header>
    <table mat-table *ngIf="routes" [dataSource]="routes" class="mat-elevation-z8">
  
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="routeName">
        <th mat-header-cell *matHeaderCellDef>Route Name</th>
        <td mat-cell *matCellDef="let element"> {{element.routeName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="vehicleId">
        <th mat-header-cell *matHeaderCellDef>Vehicle</th>
        <td mat-cell *matCellDef="let element"> {{element.vehicle.registrationNumber}} </td>
      </ng-container>
  
      <ng-container matColumnDef="vehicleDriverId">
        <th mat-header-cell *matHeaderCellDef>Driver</th>
        <td mat-cell *matCellDef="let element"> {{element.driver.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="salesManId">
        <th mat-header-cell *matHeaderCellDef>Sales Man</th>
        <td mat-cell *matCellDef="let element"> {{element.salesman.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="salesExecutiveId">
        <th mat-header-cell *matHeaderCellDef>Sales Executive</th>
        <td mat-cell *matCellDef="let element"> {{element.salesexecutive.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="manage">
        <th mat-header-cell *matHeaderCellDef>Manage</th>
        <td mat-cell [style.background-color]="element.slotStatus == true ? 'lightgreen' : null" *matCellDef="let element">
          <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <i  (click)="editRoute(element.id)"  class="fa fa-edit" style="font-size: 20px; color:green"></i>
        &nbsp;&nbsp;
        <i  (click)="deleteRoute(element.id)" class="fa fa-trash" style="font-size: 20px; color:red"></i>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card> -->