
  
  <form [formGroup]="purchaseEntryForm" (ngSubmit)="onSubmit()">
    <mat-card class="background">
      <div class="row">
        <div class="col">
          <mat-card-header>
            <mat-card-title> PURCHASE ENTRY </mat-card-title>
          </mat-card-header>
        </div>
        
        <div class="col">
          <mat-card-header>
            <button mat-mini-fab color="primary" type="button" style="margin-left: auto;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" onclick="history.back()">
              <mat-icon>exit_to_app</mat-icon>
            </button>
          </mat-card-header>
        </div>
      </div>

      <mat-card-content >
  
        <div class="row">
          <div class="col">
            <div class="row">
              <!-- <mat-form-field style="width: 10%;" appearance="fill">
                <div class="form-group">
                  <input matInput type="text" id="prefix" formControlName="prefix" placeholder="Prefix">
                </div>                        
              </mat-form-field> -->
              <!-- <span class="material-icons" (click)="generateInvoiceNumber()" style="margin-top: 20px;">repeat_one</span> -->
              <mat-form-field style="width: 90%;">
                <input matInput placeholder="Purchase Invoice" formControlName="purchaseInvoice">
                  <mat-error *ngIf="purchaseEntryForm.controls['purchaseInvoice'].hasError('required')">
                    Invoice <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              <span class="material-icons" style="margin-top: 17px; margin-left: 5px;" (click)="generateInvoiceNumber()">settings</span>
            </div>
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="E Way Bill No" formControlName="eWayBillNo">
            </mat-form-field>
          </div>
        </div>

        <div class="row">

          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Vendor" formControlName="vendorId">
                <span *ngIf="vendor.length != 0" class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addVendor()">playlist_add</span>
                <mat-option *ngFor="let item of vendor" [value]="item.id">
                  {{item.vendorName}}
                </mat-option>
                <mat-option *ngIf="vendor.length === 0" [value]="'add'">
                  <span class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addVendor()">playlist_add</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="purchaseEntryForm.controls['vendorId'].hasError('required')">
                Vendor <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Purchase Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="purachseDate">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
  
            <!-- <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="User" formControlName="userId">
                  <mat-option *ngFor="let item of user$ | async" [value]="item.id">
                    {{item.name}}
                  </mat-option>
                  &nbsp;&nbsp; &nbsp;&nbsp;<span class="material-icons" style="font-size: 30px; color: rgb(0, 128, 55);" (click)="addUser()">playlist_add</span>
                </mat-select>
                <mat-error *ngIf="purchaseEntryForm.controls['userId'].hasError('required')">
                  User <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div> -->
          </div>

          <div class="row">
            
  
            
          </div>
      </mat-card-content>
    
  
  <div>         
    <form [formGroup]="productForm">  
      <mat-card>
        <mat-card-header>
          <mat-card-title> DETAILS </mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <div>
            <ul formArrayName="products">
              
            <div class="container">
              <table class="responsive-table">
                <thead>
                  <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">MRP</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Net Amount</th>
                    <th scope="col">Tax</th>
                    <th scope="col">Tax Amount</th>
                    <th scope="col">Gross Amount</th>
                    <!-- <th>Secondary Unit</th> -->
                    <th scope="col">Action</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let quantity of products().controls; let i=index" [formGroupName]="i">
                    <td scope="row">
                      <mat-form-field>
                        <mat-label>Select an option</mat-label>
                        <mat-select formControlName="productId">
                          <mat-form-field class="search-field">
                            <div class="row">
                              <!-- <mat-icon>search</mat-icon> -->
                            <input matInput (input)="filterOptions($event)" placeholder="Search">
                            <span *ngIf="product.length != 0" class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55); margin-top: 5px; margin-left: 5px;" (click)="addNewProduct()">playlist_add</span>
                            </div>
                          </mat-form-field>
                          <mat-option *ngFor="let option of filteredOptions" [value]="option.id">
                            {{ option.productName }}
                          </mat-option>

                          <mat-option *ngIf="product.length === 0" [value]="'add'">
                            <span class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addNewProduct()">playlist_add</span>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    
                    <td>
                      <mat-form-field>
                        <input matInput placeholder="MRP"  formControlName="mrp">
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field>
                        <input matInput placeholder="Quantity" formControlName="quantity">
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field>
                        <input matInput placeholder="Unit Price"  formControlName="rate">
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field>
                        <input matInput placeholder="Discount"  formControlName="discount">{{calculateAmount()}}
                      </mat-form-field>
                    </td>

                    <!-- <td>
                      <mat-form-field>
                        <mat-select placeholder="Secondary Unit" formControlName="secondaryUnitId">
                          <mat-option *ngFor="let item of unit$ | async" [value]="item.id">
                            {{item.secondaryUnitName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td> -->
                    
                    <td>
                      <mat-form-field>
                        <input matInput placeholder="Net Amount"  formControlName="netAmount">
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field>
                        <mat-select placeholder="Tax" formControlName="taxId" #id (selectionChange)="getTaxAmount(id.value)">
                          <mat-option *ngFor="let item of tax$ | async" [value]="item.id">
                            {{item.taxName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field>
                        <input matInput placeholder="Tax Amount"  formControlName="taxAmount">
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field>
                        <input matInput placeholder="Gross Amount"  formControlName="grossAmount" [disabled]="true">
                      </mat-form-field>
                    </td>

                    <td>
                      <span class="material-icons" style="color: rgb(255, 0, 0); font-size: 25px; margin-top: 17px;" (click)="removeProduct(i)">cancel</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

             
              <div>
                <span class="material-icons" style="font-size: 40px; color: green;"(click)="addProduct()">add_box</span>
              </div>
            </ul>
          </div>
       </mat-card-content>
      </mat-card>

     
        
    </form>  
        
    <br/>  
  </div> 
  <div class="row>">
    <mat-form-field appearance="fill"  style="margin-left: 350px; width: 53%;">
      <input matInput placeholder="Purchase Amount"  formControlName="purchaseAmount">{{getPurchaseAmount()}}
    </mat-form-field>
  </div>
  <mat-card-actions>
    <button mat-raised-button type="submit" class="btn btn-success" [disabled]="!purchaseEntryForm.valid || !productForm.valid">
      <span class="material-icons" style="font-size: 25px;">save</span>
    </button>  
   </mat-card-actions>
  </mat-card><br>
  </form>



        