<mat-card class="container">
  <div class="row">
    <div class="col">
      <mat-card-header>
        <mat-card-title> PURCHASE ENTRY DETAILS </mat-card-title>
      </mat-card-header>
    </div>

    <div class="col">
      <mat-card-header>
        <button mat-mini-fab color="primary" type="button" style="margin-left: auto;"
          aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" onclick="history.back()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </mat-card-header>
    </div>
  </div>
  <br>
  <button mat-raised-button style="background-color: green; margin-right: 8px;float:right ;margin-bottom: 16px;"   type="button"
    (click)="viewInvoice()">View Invoice</button>
    <br>
  <table mat-table *ngIf="pEDetails" [dataSource]="pEDetails" class="mat-elevation-z8">

  <table class="styled-table">
    <thead>
        <tr>
            <th>id</th>
            <th>product Name</th>
            <th>mrp</th>
            <th>quantity</th>
            <th>rate</th>
            <th>discount</th>
            <th>netAmount</th>
            <th>taxName</th>
            <th>taxAmount</th>
            <th>grossAmount</th>
            <th>manage</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of pEDetails">
            <td>{{element.id}}</td>
            <td>{{element.product.productName}}</td>
            <td>{{element.mrp}}</td>
            <td>{{element.quantity}}</td>
            <td>{{element.rate}}</td>
            <td>{{element.discount}}</td>
            <td>{{element.netAmount}}</td>
            <td>{{element.tax.taxName}}</td>
            <td>{{element.taxAmount}}</td>
            <td>{{element.grossAmount}}</td>
            <td>
              <span class="material-icons" style=" margin-left: 8px;" (click)="editDetails(element.id)">edit_note</span>
            </td>
            
        </tr>
    </tbody>
  </table>


  <br><button mat-raised-button style="background-color: green; margin-left: 8px;" type="button"
    (click)="addProducts()">Add More</button>
</mat-card>