

<form [formGroup]="branchForm" (ngSubmit)="onSubmit()">
  <mat-card class="background">
    <div class="row">
      <div class="col">
        <mat-card-header>
          <mat-card-title> BRANCH </mat-card-title>
        </mat-card-header>
      </div>
      
      <div class="col" *ngIf="addStatus != 'true'">
        <mat-card-header>
          <button mat-mini-fab color="primary" type="button" style="margin-left: auto;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" onclick="history.back()">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-card-header>
      </div>
    </div>
    <mat-card-content >

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Branch Name" formControlName="branchName">
            <mat-error *ngIf="branchForm.controls['branchName'].hasError('required')">
               Name <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Address" formControlName="address">
          </mat-form-field>
        </div>
      </div>

      <div class="row">

        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="BranchManager" formControlName="branchManagerId">
              <span *ngIf="bManager.length != 0" class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addManager()">playlist_add</span>
              <mat-option *ngFor="let item of bManager" [value]="item.id">
                {{item.name}}
              </mat-option>
              <mat-option *ngIf="bManager.length === 0" [value]="'add'">
                <span class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addManager()">playlist_add</span>
              </mat-option>
            </mat-select>
            <mat-error *ngIf="branchForm.controls['branchManagerId'].hasError('required')">
             <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Phone" formControlName="phone">
          </mat-form-field>
        </div>
      </div>


    </mat-card-content>


    <form [formGroup]="branchAccountForm">  
      <mat-card>
        <mat-card-header>
          <mat-card-title> BankAccount </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div>
            <ul formArrayName="accounts">
              
            <div class="container">
              <table class="responsive-table">

                <tbody>
                  <tr *ngFor="let quantity of accounts().controls; let i=index" [formGroupName]="i">
                    <td scope="row">
                      <mat-form-field class="full-width">
                        <mat-label>Bank Account</mat-label>
                        <mat-select formControlName="bankAccountId">
                          <mat-form-field class="search-field">
                            <div class="row">
                              <input matInput (input)="filterOptions($event)" placeholder="Search">
                            </div>
                          </mat-form-field>
                          <mat-option *ngFor="let option of filteredOptions" [value]="option.id">
                            {{ option.accountNo }}
                          </mat-option>
                      
                          <mat-option *ngIf="bankAccounts.length === 0 || filteredOptions.length === 0" [value]="'add'">
                            <span class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);"
                              (click)="addNewAccount()">playlist_add</span>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>

                    <td>
                      <span class="material-icons" style="color: rgb(255, 0, 0); font-size: 25px; margin-top: 17px;" (click)="removeProduct(i)">cancel</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            
              <div>
                <span class="material-icons" style="font-size: 40px; color: green;"(click)="addProduct()">add_box</span>
              </div>
            </ul>
          </div>
      </mat-card-content>
      </mat-card>

    
        
    </form> 

    <mat-card-actions>
      <button mat-raised-button type="submit" class="btn btn-success" [disabled]="branchForm.pristine || !branchForm.valid || !branchAccountForm.valid">
        <span class="material-icons" style="font-size: 25px;">save</span>
      </button>&nbsp;&nbsp;
      <button *ngIf="isEdit == true" mat-raised-button  type="button" [disabled]="!branchForm.valid && !branchAccountForm.valid" (click)="editFunction()">
        <span class="material-icons" style="font-size: 30px;">edit_note</span>
      </button>&nbsp;&nbsp;  
      <button *ngIf="addStatus === 'true'" type="button" class="cancel-button" (click)="onCancelClick()">
        <span class="material-icons" style="font-size: 10px;">close</span>
      </button>
      </mat-card-actions>
  </mat-card>
</form>


<br><mat-card *ngIf="addStatus != 'true'">
  <mat-card-header>
    <mat-card-title style="color: green;"> BRANCHES</mat-card-title>
  </mat-card-header>

  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <table class="styled-table">
    <thead>
        <tr>
            <th>id</th>
            <th>Branch Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
            <!-- <th>Manger</th> -->
            <th>Bank Account</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of filtered">
            <td>{{element.id}}</td>
            <td>{{element.branchName}}</td>
            <td>{{element.address}}</td>
            <td>{{element.email}}</td>
            <td>{{element.phone}}</td>
            <!-- <td>{{element.branchManager.name}}</td> -->
            <td><span class="material-icons" (click)="openDetails(element.id)">contacts</span></td>
            <td>
              <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
              <i  (click)="editBranch(element.id)"  class="fa fa-edit" style="font-size: 20px; color:green"></i>
              &nbsp;&nbsp;
              <i  (click)="deleteRole(element.id)" class="fa fa-trash" style="font-size: 20px; color:red"></i>
              </td> 
        </tr>
    </tbody>
  </table>

</mat-card>